[Desktop Entry]
Name=XIVTCLauncher
Comment=Custom launcher for FFXIV Taiwan on Linux
Exec=xivtclauncher
Icon=xivtclauncher
Terminal=false
Type=Application
Categories=Game;PackageManager;
StartupWMClass=XIVTCLauncher.Core
